<div class="col-1">
    <div class="side-board">
        <h1>About</h1>
        <img class="about" src="{{ site.image }}"
                    alt="David"/>
        <p class="lead">{{ site.about }}</p>
        ## The New Mixtape
        While our world continues to become more digital, the reality is it is the easiest way to share musica at a distance, bringing us closer together. I chose Spotify as the platform of choice for sharing, hope that works well for ya!  Prendre plaisir, mes amis. 
        ## Download Spotify
        Spotify is available for most platforms and mobile devices, you can get it <a href="https://www.spotify.com/ca-en/download/other/" target="_blank">here</a>
        ## Get in touch
    And, if you'd ike to drop me a line, you know my email, and most likely my snail address :D.</p>
    </div>
</div>
