<div class="col-1">
    <div class="side-board">
        <h1>About</h1>
        <img class="about" src="{{ site.image }}"
                    alt="David"/>
        <p class="lead">{{ site.about }}</p>
        <h2> The New Mixtape</h2>
        While our world continues to become more digital, the reality is it is the easiest way to share music at a distance, bringing us closer together. I chose Spotify as the platform of choice for sharing, hope that works well for ya!  Prendre plaisir, mes amis. 
        <h2> Download Spotify</h2>
       <a href="https://www.spotify.com/ca-en/download/other/" target="_blank">It is free.</a>
        ## Get in touch
    And, if you'd ike to drop me a line, you know my email, and most likely my snail address :D.</p>
    </div>
</div>
