<div class="col-1">
    <div class="side-board">
        <h1>About</h1>
        <img class="about" src="{{ site.image }}"
                    alt="David"/>
        <p class="lead">{{ site.about }}</p>
        <h2></h2>
        You'll find a mix of tunes here on the <em>tapes.</em> Lots of rewind and grind tunes, some new dance-able disco and lots of love. Do enjoy! 
        <h2> Download Spotify</h2>
       <a href="https://www.spotify.com/ca-en/download/other/" target="_blank">It is free.</a>
        <h2>Get in touch</h2>
    And, if you'd ike to drop me a line, you know my email, and most likely my snail mail address :D.</p>
    </div>
</div>
